<!DOCTYPE html>
<head>
<title> lala </title>
</head>

    <body>

    <p2> BLOGENS HANCIKA I KAMCIA </p2></br></br>

    {% for post in posts %}
        <div class="Post"><a href="{% url 'Postpage' post.id %}">
            <p2>ID: {{ post.id }}</p2></br>
            <p2>Title: {{ post.title }}</p2></br>
            <p2>Author: {{ post.author }}</p2></br>
            <p2>Date: {{ post.created_time }}</p2></br>
            <p2>Body: {{ post.body }}</p2></br>
        </a>
        </div>
        </br>
    {% endfor %}
    </body>
</html>