{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> BraAIan`s Blog </title>
</head>

    <body>
    <div class = "container-fluid">


        <div class = "row">
            <div class = "container">
                HEADER KURWA
                        <div class = "header_bg">
            <img src="{% static 'main/img/header_background.jpg' %}"\>
        </div>
            </div>
        </div>
        <div class ="row">
            <div class = "container">
            <p2> BLOGENS HANCIKA I KAMCIA </p2></br></br>

                {% for post in posts %}
                    <div class="Post"><a href="{% url 'Postpage' post.id %}">
                        <p2>ID: {{ post.id }}</p2></br>
                        <p2>Title: {{ post.title }}</p2></br>
                        <p2>Author: {{ post.author }}</p2></br>
                        <p2>Date: {{ post.created_time }}</p2></br>
                        <p2>Description: {{ post.description }}</p2></br>
                    </a>
                    </div>
                    </br>
                {% endfor %}
            </div>
        </div>
        <div class = "row">
            <div class = "container">
                ABOUT US
            </div>
        </div>
    </div>

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>