{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="bg_container">
        <div class="container bg_content">
            <div class="row">
                <img src="{% static 'main/img/header_logo.png' %}" class="header_logo">
            </div>
            <div class="row">
                <div class="buttons_block">
                    <div class="btn_in_header btn_to_braian">MEET BRAIAN</div>
                    <div class="btn_in_header btn_to_us" style="margin-left: 50px;">MEET US</div>
                </div>
            </div>
        </div>

        <img src="{% static 'main/img/header_background.jpg' %}" class="header_bg">
    </div>

    <div id="braian" class="container" style="padding-bottom: 200px;">

        {% for post in posts %}

            <div class="row">
                <div class="row">
                    <div class="col-*-12 post_title">
                        <a href="{% url 'Postpage' post.id %}">
                            <p2>{{ post.title }}</p2>
                        </a>
                    </div>
                </div>

                <div class="col-*-12 row fill_post">
                    <p2>{{ post.description }}</p2>
                </div>

                <div class="row bar_under_post">
                    <div class="col-md-2 col-xs-12 icon_text">
                        <img src="{% static 'main/img/person_icon.png' %}" class="img_about_post" \>
                        <p2>{{ post.author }}</p2>
                    </div>
                    <div class="col-md-3 col-xs-12 icon_text">
                        <img src="{% static 'main/img/calendar_icon.png' %}" class="img_about_post" \>
                        <p2>{{ post.created_time.date }}</p2>
                    </div>
                    <div class="col-md-2 col-xs-12 icon_text">
                        <img src="{% static 'main/img/clock_icon.png' %}" class="img_about_post" \>
                        <p2>{{ post.created_time.time }}</p2>
                    </div>


                    <div class="col-md-2 col-md-offset-3 col-xs-12">
                        <a href="{% url 'Postpage' post.id %}">
                            <div class="btn_read_more">
                                <div class="ab">
                                    <p3>READ MORE</p3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <div id="us" class="container-fluid meet-us">

        <div class="container">
            <div class="row">
                <div class="col-*-12 meet_us_logo">
                    <img src="{% static 'main/img/meet_us_logo.png' %}" \>
                </div>
            </div>

            <div class="row" style="padding-top: 15%">
                <div class="col-md-8 col-xs-12 about_us_name">

                    <img src="{% static 'main/img/damian_horna.png' %}" \>

                    <div class="about about_kamil">
                        Computer science student at PUT. Enjoys researching tech topics and sharing knowledge with
                        others. Interested in artificial intelligence, machine learning and mobile/web development. When
                        not glued to the computer, he spends his time actively, whether it's playing football, working
                        out or swimming. </br></br>
                        Email: horna.damian@gmail.com</br>
                        Linkedin:<a href="https://www.linkedin.com/in/damian-horna-8272b7152/">
                        https://www.linkedin.com/in/damian-horna/</a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 about_us_photo">
                    <img src="{% static 'main/img/circle_damian.png' %}" style="width: 300px;height: 300px;" \>
                </div>
            </div>
            <div class="row" style="padding-top: 15%;">
                <div class="col-md-4 col-xs-12 about_us_photo">
                    <img src="{% static 'main/img/hania_circle.png' %}" \>
                </div>
                <div class="col-md-8 col-xs-12 ">
                    <div class="about_us_name about_hania_name" style="height:30px;">
                        <img src="{% static 'main/img/hanna_klimczak.png' %}" \>
                    </div>

                    <div class="about about_hania">
                        Computer Science student at Poznań University of Technology, constructor of <a
                            href="https://web.facebook.com/Robot.Leonardo/">Robot Leonardo</a>, Artificial Intelligence
                        enthusiast, the creator of the idea of Br{AI}an. In her private life, equestrian, krav maga
                        practiser and big fan of the Witcher and Game of Thrones. </br>For any questions about the
                        project please contact the email below:</br></br>
                        Email: hanna.klimczak@gmail.com</br>
                        Linkedin:<a href="https://www.linkedin.com/in/hklimczak/">
                        https://www.linkedin.com/in/hklimczak/</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 15%;padding-bottom: 15%;">
                <div class="col-md-8 col-xs-12 about_us_name">

                    <img src="{% static 'main/img/kamil_plucinski.png' %}" \>

                    <div class="about about_kamil">
                        Hi, I’m a Computer Science student that enjoys coding a lot. Besides webdesign, I also start to
                        love Artificial Intelligence. Making a computer “think” is very interesting. In my free time, I
                        practise kav maga, I also like speedcubing, mostly 3x3, where my best time is 8.42. My other
                        interest is photography.
                        </br></br>Linkedin:<a href=”https://www.linkedin.com/in/kplucinski/”>
                        https://www.linkedin.com/in/kplucinski/</a></br>
                        Email: kamil.plucinski97@gmail.com
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 about_us_photo">
                    <img src="{% static 'main/img/circle_kamil.png' %}" style="width: 300px;height: 300px;" \>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
