{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="bg_container">
        <div class="container bg_content">
            <div class = "row">
                <img src="{% static 'main/img/header_logo.png' %}" class="header_logo">
            </div>
            <div class="row">
                <div class="header_description">
                    <p2>NO I KURWA JAKIES ZAJEBISTE POWITANKO</br> HAAAAALO!?</p2>

                </div>
            </div>
            <div class="row">
                <div class="buttons_block">
                    <div class="btn_in_header btn_to_braian">MEET BRAIAN</div>
                    <div class="btn_in_header btn_to_us" style="margin-left: 50px;">MEET US</div>
                </div>
            </div>
        </div>

        <img src="{% static 'main/img/header_background.jpg' %}" class="header_bg">
    </div>

    <div id="braian" class = "container" style="padding-bottom: 200px;">

        {% for post in posts %}

            <div class ="row">


                <div class="row">

                    <div class="col-*-12 post_title">
                             <a href="{% url 'Postpage' post.id %}">
                                <p2>{{ post.title }}</p2>
                              </a>
                    </div>

                </div>
                <div class="col-*-12 row fill_post">

                    <p2>{{ post.description }}</p2>

                </div>
                <div class="row bar_under_post">
                    <div class="col-md-2 col-xs-12 icon_text">
                        <img src="{% static 'main/img/person_icon.png' %}" class="img_about_post" \>
                        <p2>{{ post.author }}</p2>
                    </div>
                    <div class="col-md-3 col-xs-12 icon_text">
                        <img src="{% static 'main/img/calendar_icon.png' %}" class="img_about_post" \>
                        <p2>{{ post.created_time.date }}</p2>
                    </div>
                    <div class="col-md-2 col-xs-12 icon_text">
                        <img src="{% static 'main/img/clock_icon.png' %}" class="img_about_post" \>
                        <p2>{{ post.created_time.time }}</p2>
                    </div>


                    <div class="col-md-2 col-md-offset-3 col-xs-12">
                        <a href="{% url 'Postpage' post.id %}">
                            <div class="btn_read_more">
                                <div class="ab">
                                    <p3>READ MORE</p3>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <div id="us" class="container-fluid meet-us">

        <div class = "container">
            <div class="row">
                <div class="col-*-12 meet_us_logo">
                    <img src="{% static 'main/img/meet_us_logo.png' %}" \>
                </div>
            </div>
            <div class="row" style="padding-top: 15%;">
                <div class="col-md-4 col-xs-12 about_us_photo">
                    <img src="{% static 'main/img/hania_circle.png' %}" \>
                </div>
                <div class="col-md-8 col-xs-12 ">
                    <div class="about_us_name" style="height:30px">
                        <img src="{% static 'main/img/hanna_klimczak.png' %}" \>
                    </div>

                    <div class="about about_hania">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet ipsum urna. Pellentesque ut enim in est rutrum condimentum non ac risus. Fusce placerat risus ut tellus sollicitudin dapibus. Quisque suscipit felis sapien, eu accumsan erat varius ac. Morbi pretium lacus ultricies quam ultricies, eu posuere orci condimentum. Sed mi purus, tristique eget condimentum in, tristique feugiat dui. Cras et dui in nunc pretium imperdiet. Ut magna orci, interdum ut lacus sit amet, efficitur iaculis libero. Fusce eget quam nunc. Sed congue sapien metus, nec luctus nisi porttitor a. Integer convallis nunc tristique, pellentesque dolor quis, mattis justo. Etiam dolor libero, facilisis a ornare a, congue placerat mauris. Integer vel quam et dui tempus ultricies. In consectetur nulla at nunc cursus, sit amet vestibulum augue blandit.
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 15%;padding-bottom: 15%;">
                <div class="col-md-8 col-xs-12 about_us_name">

                    <img src="{% static 'main/img/kamil_plucinski.png' %}" \>

                    <div class="about about_kamil">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet ipsum urna. Pellentesque ut enim in est rutrum condimentum non ac risus. Fusce placerat risus ut tellus sollicitudin dapibus. Quisque suscipit felis sapien, eu accumsan erat varius ac. Morbi pretium lacus ultricies quam ultricies, eu posuere orci condimentum. Sed mi purus, tristique eget condimentum in, tristique feugiat dui. Cras et dui in nunc pretium imperdiet. Ut magna orci, interdum ut lacus sit amet, efficitur iaculis libero. Fusce eget quam nunc. Sed congue sapien metus, nec luctus nisi porttitor a. Integer convallis nunc tristique, pellentesque dolor quis, mattis justo. Etiam dolor libero, facilisis a ornare a, congue placerat mauris. Integer vel quam et dui tempus ultricies. In consectetur nulla at nunc cursus, sit amet vestibulum augue blandit.
                    </div>

                </div>
                <div class="col-md-4 col-xs-12 about_us_photo">
                    <img src="{% static 'main/img/circle_kamil.png' %}" style="width: 300px;height: 300px;" \>
                </div>
            </div>

        <div/>
    </div>
{% endblock %}