* {
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    color: #101211;

}

body, html {
    height: 100%;
}

.bg_container{
    display: block;
}

.header_bg{
    height: 100%;
    width: 100%;
    position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.header_logo{
    width: 650vp;
    height: 100vp;
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -325px;
    margin-bottom: +150px;
}

.header_description{

}

.buttons_block{

}

.btn{
    display: block;
    position: absolute;
}

.post_title{
    margin-top: 4%;
    font-weight: bold;
}

.bar_under_post{
    font-size: 18pt;
    color: red;


}

.fill_post{
    text-align: justify;
    padding-bottom: 2.5%;
}