* {
 margin:0px;
 padding:0px;
}

body, html {
    height: 100%;
}

.header_bg{
    height: 100%;
    width: 100%;
    position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.posts{
    background-color: azure;
}

.bg_contener{
    display: block;
}

.header_logo{
    width: 650px;
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -325px;
    margin-bottom: +150px;
}