* {
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

.bg_container{
    display: block;
}

.header_bg{
    height: 100%;
    width: 100%;
    position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.header_logo{
    width: 650vp;
    height: 100vp;
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -325px;
    margin-bottom: +150px;
}

.header_description{

}

.buttons_block{

}

.btn{
    display: block;
    position: absolute;
}

.post_title{
    margin-top: 4%;
    font-weight: bold;
}

.icon_text{
    color:#8c8c8c;
}
.bar_under_post{
    font-size: 16px;
}

.fill_post{
    text-align: justify;
    padding-bottom: 2.5%;
}

.meet-us{
    background-color: #0e0f10;
}

p3{
    color:white;
}

.meet_us_logo{
    text-align:center;
    padding-top:15%;
}

.about{
    padding-top: 2%;
    color: #d7d7d7;
    text-align: justify;
    font-size: 0.85vw;

}

.about_hania{
    text-align-last: right;
}

.about_kamil{
    text-align-last: left;
}

@media screen and (max-width: 992px) {
    body {
        background-color: lightgreen;
    }

    .about{
        font-size: 2vw;
    }
    .about_hania{
        text-align-last: center;
    }
    .about_kamil{
        text-align-last: center;
    }
    .about_us_name{
        text-align: center;
    }
    .about_us_photo{
        text-align: center;
    }
}